/* Website Toolbar */

div.frontpage-et
{
	margin-top: 0.75em;
}

div.box-et
{
    border: 1px solid #CDD2D6;
	padding: 0;
	background-image: url(../images/websitetoolbar/et_bg.png);
	height: 28px;
	clear: both;
	margin-bottom: 10px;
}

div.box-et-content-edit
{
	left: 0px;
	margin-bottom: 10px;
}

div.box-et-content-edit div.box-content div.block div.left input
{
	display: inline;
	margin: 0;
	position: relative;
	top: -12px;
}

div.box-et-content-edit div.box-content div.block div.right input
{
	display: inline;
	margin: 0;
	position: relative;
	top: -14px;
}

div.box-et-content-edit div.box-content div.block div.left select
{
	font-size: 0.8em;
	display: inline;
	margin: 0;
	position: relative;
	top: -12px;
}

div.box-et div.box-content div.block form
{
	display: inline;
	margin: 0;
	padding: 0;
}

div.box-et div.box-content div.block div.left img
{
	border: none;
	position: relative;
	top: -8px;
	margin-right: 0.25em;
}

div.box-et div.box-content div.block div.right img
{
	border: none;
	position: relative;
	top: -8px;
	margin-right: 0.25em;
}

div.box-et div.box-content div.block div.right img.oohelp
{
	border: none;
	position: relative;
	top: -13px;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

div.box-et div.box-content div.block div.right img.help
{
	border: none;
	position: relative;
	top: -6px;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

div.box-et div.box-content div.block div.left form input
{
	display: inline;
	margin: 0;
	position: relative;
	top: -12px;
}

div.box-et div.box-content div.block div.right form input
{
	display: inline;
	margin: 0;
	position: relative;
	top: -14px;
}

div.box-et div.box-content div.block div.left form select
{
	font-size: 0.8em;
	display: inline;
	margin: 0;
	position: relative;
	top: -12px;
}

div.box-et div.box-content div.block input
{
	background-color: #DCE0E3;
	border: none;
	font-size: 0.9em;
}

div.box-et, div.box-et div.tl, div.box-et div.tr, div.box-et div.br, div.box-et div.bl
{
    position: relative;
	height: 28px;
}

div.box-et div.tl
{
    top: -1px;
    left: -1px;
    background: url(../images/websitetoolbar/et_tl.png) top left no-repeat;
}

div.box-et div.tr
{
    right: -2px;
    background: url(../images/websitetoolbar/et_tr.png) top right no-repeat;
}

div.box-et div.br
{
    bottom: -2px;
    background: url(../images/websitetoolbar/et_br.png) bottom right no-repeat;
	height: 28px;
}

div.box-et div.bl
{
    left: -2px;
    background: url(../images/websitetoolbar/et_bl.png) bottom left no-repeat;
    padding: 0.5em;
	height: 14.8px;
}

div.box-et div.block div.left
{
	width: 62%;
}

div.box-et div.block div.right
{
	text-align: right;
	width: 38%;
}

div.box-et-content-edit div.block div.left
{
	width: 90%;
}

div.box-et-content-edit div.block div.right
{
	width: 9%;
}

div.box-et-content-edit div.block div.right img.help
{
	top: -7px;
}